html {
    box-sizing: border-box;
    background-color: #fafafa;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: monospace;
    font-size: 20px;
}

body {
    margin: 1rem auto;
    padding: 0 1rem;
    max-width: 50rem;
}

a:link, a:visited {
    color: black;
}

.text-center {
    text-align: center;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

/* http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.hidden {
    display: none;
}

.position-relative {
    position: relative;
}

.abs-top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.spaced:not(:last-child) {
    margin-right: 1em;
    margin-bottom: 1em;
}

button, a.btn {
    background-color: black;
    border: gray solid 0.0625em;
    color: white;
    display: inline-block;
    padding: 0.5em 1em;
    outline: none;
    text-decoration: none;
}

button:hover, a.btn:hover {
    background-color: gray;
    border: gray solid 0.0625em;
 }

button.span-all, a.btn.span-all {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    min-height: 2em;
    min-width: 2em;
}

button.span-all:hover, a.btn.span-all:hover {
    content: url("../img/button2.svg");
}

button.btn-ninja, a.btn.btn-ninja {
    background-color: transparent;
    border-width: 0;
    padding: 0;
    color: black;
}

button.btn-large, a.btn.btn-large {
    font-size: 1.25em;
}

#header {
}

#header .navigation {
    border: 0.0625em solid gray;
    font-size: 1.25em;
    margin: 0;
    padding: 0;
}

#header .navigation li {
    background-color: gray;
    list-style: none;
}

#header .navigation li:not(:first-child) {
    border-top: 0.0625em solid lightgray;
}

#header .navigation li a {
    color: white;
    padding: 0.5em 1em;
    display: block;
}

/*
#eeeeff
#dcdbff
#aeaeff
*/

.game-controls {
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.board {
    margin: 0.2em;
    padding: 0.3em;
    border: 0.0625em solid gray;
}

.board.board-small {
    font-size: 0.25em;
}

.row {
    width: 100%;
    display: block;
}

.tile {
    -webkit-user-select: none;
    -moz-user-select: none;
    width: 1.5em;
    height: 1.5em;
}

.tile.tile-filled {
    background-color: darkgray;
    border: outset 0.3em lightgray;
}

.tile.tile-filled:not(.tile-selected):hover {
    background-color: lightgray;
}

.tile.tile-empty {
    background-color: rgb(200, 200, 200);
    border: inset 0.3em lightgray;
}

.tile.tile-negative {
}

.tile.tile-selected {
    background-color: rgb(255, 255, 100);
}

@media (min-width: 20em) {
    .tile {
        width: 1.8em;
        height: 1.8em;
    }
}

@media (min-width: 22em) {
    .tile {
        width: 2em;
        height: 2em;
    }
}

@media (min-width: 30em) {
    .tile {
        width: 3em;
        height: 3em;
    }
}

@media (min-width: 48em) {
    .tile {
        width: 4em;
        height: 4em;
    }
}

.arrow:before {
    color: black;
    display: inline-block;
    content: '↥';
    width: 1.5em;
}

.arrow.arrow-right:before {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);    
}

.arrow.arrow-left:before {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}

.arrow.arrow-up:before {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.arrow.arrow-down:before {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
