@font-face {
    font-family: "Londrina";
    src: url("../fonts/LondrinaSolid-Regular.otf");
}
@font-face {
    font-family: "Sinkin Sans";
    src: url("../fonts/SinkinSans-400Regular.otf");
}

html {
    box-sizing: border-box;
    background-color: #FAFAFA;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 1rem auto;
    padding: 0 1rem;
    max-width: 50rem;
}

.text-center {
    text-align: center;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

/* http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.hidden {
    display: none;
}

button {
    background-color: #aeaeff;
    border: #dcdbff solid 0.0625em;
    border-radius: 0.3em;
    color: #FAFAFA;
    padding: 0.5em 1em;
    outline: none;
    font-family: "Sinkin Sans";
}

button.span-all {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    min-height: 2em;
    min-width: 2em;
}

button.span-all:hover {
    content: url("../img/button2.svg");
}

button.btn-ninja {
    background-color: transparent;
    border-width: 0;
    padding: 0;
    color: black;
}

#header {
}

#header .navigation {
    border: 0.0625em solid #dcdbff;
    font-family: "Sinkin Sans"; 
    font-size: 1.25em;
    text-align: right;
    margin: 0;
    padding: 0;
}

#header .navigation li {
    background-color: #eeeeff;
    list-style: none;
    padding: 0.5em 1em;
}

#header .navigation li:not(:first-child) {
    border-top: 0.0625em solid #dcdbff;
}

#header .navigation li a {
    text-decoration: none;
    color: #aeaeff;
    font-size: .6em;
}

#logo {
    font-size: 4em;
    font-family: Londrina;
    color: #dcdbff;
    text-shadow: #aeaeff 0.03em 0.03em 0;
    text-decoration: none;
}

#logo .logo-highlight {
    color: #FFD873;
}

/*
#eeeeff
#dcdbff
#aeaeff
*/

#menu {
   margin-top: 1.5em;
}

#moves {
    position: absolute;
    font-family: Londrina;
    font-size: 3em;
    text-shadow: #aeaeff 0.03em 0.03em 0;
}

#current-moves {
    color: #dcdbff;
}

#goal {
    color: #ffd873;
}

#game-controls {
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.board {
    margin: 0.2em;
    background-color: #EEEDFF;
    padding: 0.3em;
    border: 0.0625em solid #aeaeff;
    border-radius: 0.3em;
}

.board.board-small {
    font-size: 0.25em;
}

.row {
    width: 100%;
    display: block;
}

.tile {
    -webkit-user-select: none;
    -moz-user-select: none;
    border-radius: 0.3em;
    width: 1.5em;
    height: 1.5em;
}

.tile-filled {
    background-color: #FFD873;
    box-shadow: inset 0 0 0.3em #ccad5c;
}

.tile-empty {
    background-color: #DCDBFF;
    box-shadow: inset 0 0 0.3em #b1b1bc;
}

.tile-negative {
}

.tile-filled:hover {
    border-style: solid;
    border-color: #f9f9f9;
}

.tile-selected {
    background-color: #ffb97b;
    box-shadow: inset 0 0 8px #dea16b;
}

@media (min-width: 20em) {
    .tile {
        width: 1.8em;
        height: 1.8em;
    }

    #menu {
        height: 2em;
    }
}

@media (min-width: 22em) {
    .tile {
        width: 2em;
        height: 2em;
    }
}

@media (min-width: 30em) {
    .tile {
        width: 3em;
        height: 3em;
    }

    #menu {
        height: 2.5em;
    }
}

@media (min-width: 48em) {
    .tile {
        width: 4em;
        height: 4em;
    }
}

.arrow:before {
    display: inline-block;
    content: url("../img/button.svg");
    width: 1.5em;
}

.arrow.arrow-right:before {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);    
}

.arrow.arrow-left:before {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}

.arrow.arrow-up:before {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.arrow.arrow-down:before {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
