html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.text-center {
    text-align: center;
}

button.span-all {
    height: 100%;
    width: 100%;
    min-height: 2em;
    min-width: 2em;
}

#board {
    display: inline-block;
    margin: 2.5%;
    background-color: #EEEDFF;
    padding: 5px;
}

.row {
    width: 100%;
    display: block;
}

.tile-filled {
    background-color: #FFD873;
}

.tile-empty {
    background-color: #DCDBFF;
}

.tile-negative {
    background-color: #EEEDFF;
    box-shadow: inset 0 0 10px #D5D4F8;
}

.tile-filled:hover {
    border-style: solid;
    border-width: 2.5px;
    border-color: white;
    margin: .5px;
}

@media only screen and (min-width: 558px) {
    .tile {
        float: left;
        display: block;
        border-radius: 3px;
        margin: 2.5px;
        width: 60px;
        height: 60px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 557px) {
    .tile {
        float: left;
        display: block;
        border-radius: 3px;
        margin: 2.5px;
        width: 50px;
        height: 50px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .tile {
        float: left;
        display: block;
        border-radius: 3px;
        margin: 2.5px;
        width: 30px;
        height: 30px;
    }
}

.tile-selected {
    background-color: black;
}

.arrow:before {
    display: inline-block;
    content: "↪";
    font-size: 2em;
}

.arrow.arrow-right:before {
    transform: rotate(0deg);
}

.arrow.arrow-left:before {
    transform: rotate(180deg);
}

.arrow.arrow-up:before {
    transform: rotate(270deg);
}

.arrow.arrow-down:before {
    transform: rotate(90deg);
}
