<div id="moves" class="abs-top-left">
    <span class="{{ !board.solved ? 'text-periwinkle' : 'text-green' }}">{{ board.turns }}</span><span class="{{ !board.solved ? 'text-gold' : 'text-green' }}">/{{ board.goal }}</span>
</div>
<table class="margin-center">
    <tbody>
        <tr>
            <td></td>
            <td class="text-center"><button class="span-all" ng-click="board.flip('up')"><span class="arrow arrow-up"></span></button></td>
        </tr>
        <tr>
            <td><button class="span-all" ng-click="board.flip('left')"><span class="arrow arrow-left"></span></button></td>
            <td>
                <table class="board">
                    <tbody>
                        <tr ng-repeat="(y, row) in board.grid">
                            <td ng-repeat="(x, tile) in row" class="tile tile-{{ tile.state }}" ng-class="{'tile-selected': tile.isSelected}" ng-mousedown="globalState.touchDownTileIsSelected = tile.isSelected" fl-clickdrag="(globalState.touchDownTileIsSelected ? tile.unselect() : tile.select())"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td><button class="span-all" ng-click="board.flip('right')"><span class="arrow arrow-right"></span></button></td>
        </tr>
        <tr>
            <td></td>
            <td class="text-center"><button class="span-all" ng-click="board.flip('down')"><span class="arrow arrow-down"></span></button></td>
        </tr>
    </tbody>
</table>
<div id="game-controls">
    <button ng-click="board.restart()">Restart</button>
    <button ng-click="board.undo()">Undo move</button>
    <button ng-click="board.unselectAll()">Unselect All</button>
    <a class="btn" href="#/play/{{ board.id+1 }}" ng-show="board.solved">Next Level</a>
</div>
