<html>
<head>
    <title>Flip</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/stylesheet.css" />
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/core/tile.js"></script>
    <script src="js/core/board.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="flip">
    <div id="header" ng-controller="HeaderController">
        <div class="clearfix">
            <div class="pull-left">
                <a href="#/" id="logo">FL<span class="logo-highlight">i</span>P</a>
            </div>
            <div class="pull-right">
                <button class="btn-ninja" ng-click="navigation.open = !navigation.open"><img id="menu" alt="Menu" src="img/menu.svg" /></button>
            </div>
        </div>
        <ul class="navigation" ng-class="{'hidden': !navigation.open}">
            <li ng-repeat="page in navigation.pages" ng-click="navigation.open = false"><a href="#{{ page.url }}">{{ page.title }}</a></li>
        </ul>
    </div>
    <div class="position-relative">
        <ng-view></ng-view>
    </div>
</body>
</html>
